.navbar {
  padding: 0px 40px;
  align-items: center;
  position: sticky;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 100px;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 100;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo-text {
  font-family:'Helvetica';
  font-size: 50px;
  color: white;
  padding: 10px;
}

.navbar-logo-text:hover {
  color:#242424;
}

.navbar-btn {
  display: flex;
}