.navbar {
  padding: 0px 40px;
  align-items: center;
  justify-content: left;
  position: sticky;
  display: flex;
  height: 96px;
  top: 0;
  background-color: rgba(255, 0, 0, 0.5);
  border-bottom-left-radius: 0.25em;
  border-bottom-right-radius: 0.25em;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100%);
}

.nav-item {
  display: inline;
  padding: 0px 16px;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-logo-text {
  font-family:'Helvetica';
  font-size: 50px;
  color: white;
  padding: 10px;
}

.navbar-logo-text:hover {
  color:#242424;
}

.navbar-btn {
  display: flex;
  justify-content: space-between;
  width: 18%;
}