a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: #242424;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 2.5rem;
  text-align: center;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

body {
  background-color: red;
  margin: 8px;
}

.wrapper{
  padding: 0px 40px;
  background-color: white;
  border-radius: 0.25em;
}

.home{
  padding: 3em 5em 3em 5em;
}

  .home p{
    margin: 0 0 2em 0;
    text-align: center;
  }

.about {
  padding: 1em 6em;
}


.login {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
}

.login-container  {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.order {
  justify-content: center;
  height: 100vh;
  background-color: white;
}

.card-container {
  display: flex;
  justify-content: center;
}