.card{
    width: 200px;
    height: 250px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -15px;
    background-color: rgba(255, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border-radius: 5%;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}
 
.card-image{
    height: 50%;
}

.card-image img{
    overflow: hidden;
    width: 50%;
    height: auto;
}

.card-title{
    padding-top: 5px;
    font-size: 32px;
    font-weight: 800;
    color: #202020;
    font-family: 'Open Sans';
}

.card-body {
    line-height: 10px;
    font-size: 18px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #909090;
}