
.modal-exit{
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 11px;
    background: red;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 2px;
    cursor: pointer;
}
.modal-exit:hover{
    transition: all 0.3s ease-out;
    background: rgba(255, 0, 0, 0.6);
    color: black;
}

.modal-addCart {
    margin: 20px;
    padding: 8px 11px;
    background: transparent;
    color: black;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 20px;
    border: 2px solid red;
    font-size: 18px;
    text-align: center;
}

.modal-addCart:hover{
    transition: all 0.3s ease-out;
    background: red;
    color: white;
}

.modal-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    padding: 50px;
    z-index: 1000;
    text-align: center;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: 1000;
}