a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #242424;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 2.5rem;
  text-align: center;
}


/* img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
} */

body {
  background-color: red;
  margin: 8px;
}

.wrapper {
  padding: 0px 40px;
  background-color: white;
  border-radius: 0.25em;
}

.home {
  padding: 3em 5em 3em 5em;
  justify-content: center;
  text-align: center;
}

.home p {
  margin: 0 0 2em 0;
  text-align: center;
}

.robot-image {
  display: flexbox;
  justify-content: center;
}

.robot-image img{
  width: 50%;
}

.about {
  padding: 1em 6em;
}

.login {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 40vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.signup {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 40vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 5px;
}

.signup-btn-container {
  display: flex;
  justify-content: center;
}

.restaurants {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.menu button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}

.cart {
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  width: 90%;
  height: 30%;
  border-radius: 5px; 
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.cart-item:hover {
  transition: all 0.3s ease-out;
  background-color: rgba(255, 0, 0, 0.5);
}

.cart-item-about{
  height: 100%;
}

.cart-image{
  width: 15%;
  text-align: center;
}

.item-total {
  display: flex;
  justify-content: end;
}

.item-total button {
  margin: 1em;
}

.item-counter {
  display:flexbox;
  width: 15%;
  align-items: center;
}

.item-quantity{
  width: 30px;
  text-align: center;
  height: 20px;
}

.item-name  {
  padding-top: 5px;
  font-size: 32px;
  font-weight: 800;
  color: #202020;
  font-family: 'Open Sans';
}

.item-restName {
  line-height: 10px;
  font-size: 18px;
  font-family: 'Open Sans';
  font-weight: 600;
  color: #909090;
}

.item-amount {
  height: 100%;
  text-align: right;
  font-size: 26px;
  font-family: 'Open Sans';
  font-weight: 800;
  color: #202020;
}

.cart-checkout-btn {
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid red;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.cart-checkout-btn:hover {
  transition: all 0.3s ease-out;
  background: red;
  color: white;
}

.order-container{
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.order-container:hover{
  transition: all 0.3s ease-out;
  background-color: rgba(255, 0, 0, 0.5);
}

.order-item{  
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.user {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.user-container {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.user-wrap{
  justify-content: center;
  background-color: white;
  overflow: auto;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.user-wrap .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.user-wrap .right .info h3,
.user-wrap .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.user-wrap .right .info_data,
.user-wrap .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.user-wrap .right .info_data .data,
.user-wrap .right .projects_data .data{
  width: 45%;
}

.user-wrap .right .info_data .data h4,
.user-wrap .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.user-wrap .right .info_data .data p,
.user-wrap .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 1;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 1;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 1;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 90%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}

#destination{
  width:300px;
  height:40px;
}
#cardnum{
  width:260px;
}
#zipcode{
  width:200px;
}
#secNum{
  width:201px;
}
#expiry{
  width:200px;
}

.cardrow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 99px;
}
.smtrow {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 101px;
}

.titledi1 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 250px;
}
.titledi2 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 400px;
}
