a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #242424;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 2.5rem;
  text-align: center;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

body {
  background-color: red;
  margin: 8px;
}

.wrapper {
  padding: 0px 40px;
  background-color: white;
  border-radius: 0.25em;
}

.home {
  padding: 3em 5em 3em 5em;
}

.home p {
  margin: 0 0 2em 0;
  text-align: center;
}

.about {
  padding: 1em 6em;
}


.login {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 40vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.signup {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 40vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 5px;
}

.signup-btn-container {
  display: flex;
  justify-content: center;
}

.restaurants {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.menu button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}

.cart {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.cart-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}
.cart-item:hover {
  transition: all 0.3s ease-out;
  background-color: rgba(255, 0, 0, 0.5);
}

.item-total {
  display: flex;
  justify-content: end;
}

.item-total button {
  margin: 1em;
}

.item-quantity {
  width:50px;
  text-align: center;
  height: 20px;
}

.cart-checkout-btn {
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid red;
  font-size: 18px;
  text-align: center;
}

.cart-checkout-btn:hover {
  transition: all 0.3s ease-out;
  background: red;
  color: white;
}

.user {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.user-container {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.user-wrap{
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.user-wrap .left{
  width: 35%;
  background: linear-gradient(to right,#01a9ac,#01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}


.user-wrap .left h4{
  margin-bottom: 10px;
}

.user-wrap .left p{
  font-size: 12px;
}

.user-wrap .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .user-wrap .info,
.wrapper .user-wrap .projects{
  margin-bottom: 25px;
}

.user-wrap .right .info h3,
.user-wrap .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.user-wrap .right .info_data,
.user-wrap .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.user-wrap .right .info_data .data,
.user-wrap .right .projects_data .data{
  width: 45%;
}

.user-wrap .right .info_data .data h4,
.user-wrap .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.user-wrap .right .info_data .data p,
.user-wrap .right .projects_data .data p{
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.checkcont {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}
input[type=text] {
  width: 60%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
  