a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: #242424;
}

h1 {
  font-weight: 500;
  letter-spacing: -0.025em;
  font-size: 2.5rem;
  text-align: center;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}

body {
  background-color: red;
  margin: 8px;
}

.wrapper {
  padding: 0px 40px;
  background-color: white;
  border-radius: 0.25em;
}

.home {
  padding: 3em 5em 3em 5em;
}

.home p {
  margin: 0 0 2em 0;
  text-align: center;
}

.about {
  padding: 1em 6em;
}


.login {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 40vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.login-btn-container {
  display: flex;
  justify-content: center;
}

.signup {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  height: 40vh;
}

.signup-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 5px;
}

.signup-btn-container {
  display: flex;
  justify-content: center;
}

.restaurants {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.menu button {
  padding: 13px 29px;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  border: none;
  outline: none;
  background: crimson;
  color: white;
  cursor: pointer;
}

.cart {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100%);
}

.item-total {
  display: flex;
  justify-content: end;
}

.item-total button {
  margin: 1em;
}

.checkout-btn {
  background: red;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid black;
  font-size: 18px;
  text-align: center;
}

.checkout-btn:hover {
  transition: all 0.3s ease-out;
  background: red;
  color: #242424;
}

.user {
  justify-content: center;
  height: 70vh;
  background-color: white;
  overflow: auto;
}

.user-container {
  height: 70vh;
}